{
  "plugins": ["transform-object-rest-spread"],
  "presets": [
    "babel-preset-power-assert",
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
